<launch>
    <arg name="vehicle_name_1" default="ifo001"/>
    <arg name="vehicle_name_2" default="ifo002"/>
    <arg name="vehicle_name_3" default="ifo003"/>

    <group ns="$(arg vehicle_name_1)">
        <include file="$(find controller)/launch/formation_controller.launch"/>
    </group>

    <group ns="$(arg vehicle_name_2)">
        <include file="$(find controller)/launch/formation_controller.launch"/>
    </group> 

    <group ns="$(arg vehicle_name_3)">
        <include file="$(find controller)/launch/formation_controller.launch"/>
    </group>

    <node name="relative_pose_node" output="screen" pkg="controller" type="relative_pose_update.py"/>

</launch>
