<launch>
    <arg name="use_vins" default="false"/>
    <arg name="use_mocap_fusion" default="true"/>

    <node name="local_diagnostics" output="screen" pkg="local_diagnostics" 
        type="local_diagnostics_node.py"/>
    
    <group if="$(arg use_mocap_fusion)">
        <node name="mocap_forwarder" output="screen" pkg="controller" 
            type="mocap_forwarder_node.py"/>
    </group>
</launch>