<launch>
    <arg name="vehicle_name_1" default="ifo001"/>
    <arg name="vehicle_name_2" default="ifo002"/>
    <arg name="vehicle_name_3" default="ifo003"/>

    <!-- <include file="$(find ifo_gazebo)/launch/ifo_empty_world_3.launch">
        <arg name="vehicle_name_1" default="$(arg vehicle_name_1)"/>
        <arg name="vehicle_name_2" default="$(arg vehicle_name_2)"/>
        <arg name="vehicle_name_3" default="$(arg vehicle_name_3)"/>
    </include>  -->

    <group ns="$(arg vehicle_name_1)">
        <include file="$(find ifo_bringup)/launch/ifo_core.launch"/>
    </group>

    <!-- <group ns="$(arg vehicle_name_2)">
        <include file="$(find ifo_core)/launch/ifo_core.launch"/>
    </group>

    <group ns="$(arg vehicle_name_3)">
        <include file="$(find ifo_core)/launch/ifo_core.launch"/>
    </group> -->

</launch>